.products__footer {
  border-top: 1px solid #E3E3E5;
  background: #fff;
  .v-card {
     border: none;
     box-shadow: none !important;
     background: transparent;
  }
  h4 {
     font-weight: 600;
  }
  ul {
     list-style-type: none;
     padding: 0 !important;

     li {
        a {
           text-decoration: none;
           color: #202125;
           font-size: 14px;
        }
     }
  }
  .bottom {
    margin-top: 0;
     .inf {
        font-size: 14px;
        color: #202125;
     }
  }
  .socials {
     display: flex;
     a {
        border: 1px solid #E3E3E5;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
        transition: 0.3s;
        &:hover svg {
           transition: 0.3s; 
           transform: scale(1.3);
        }
     }
  }
}