@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

$body-font-family: 'Lato';
$title-font: 'Lato';

.v-application {
    font-family: $body-font-family, sans-serif !important;
     .title { // To pin point specific classes of some components
        font-family: $title-font, sans-serif !important;
     }
  }
  html {
   scroll-behavior: smooth !important;
 }

 p {
    margin: 0 !important;
 }

 .line-animation {
   position: relative;
 }
 
 .line-animation::after {
   content: '';
   position: absolute;
   width: 0;
   height: 2px;
   background-color: #111;
   bottom: -14px;
   left: 0;
 }
 
 .line-animation:hover {
   color: #023462 !important;
 }
 .line-animation:hover::after {
   content: '';
   position: absolute;
   width: 100%;
   height: 2px;
   background-color: #111;
   bottom: -2px;
   left: 0%;
   -webkit-transition: width 0.4s;
   transition: width 0.4s;
 }

 