@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

$body-font-family: 'Lato';
$title-font: 'Lato';

.v-application {
    font-family: $body-font-family, sans-serif !important;
     .title { // To pin point specific classes of some components
        font-family: $title-font, sans-serif !important;
     }
  }
  html {
   scroll-behavior: smooth !important;
 }

 p {
    margin: 0 !important;
 }

 .line-animation {
   position: relative;
 }
 
 .line-animation::after {
   content: '';
   position: absolute;
   width: 0;
   height: 2px;
   background-color: #111;
   bottom: -14px;
   left: 0;
 }
 
 .line-animation:hover {
   color: #3b3b3b !important;
 }
 .line-animation:hover::after {
   content: '';
   position: absolute;
   width: 100%;
   height: 2px;
   background-color: #111;
   bottom: -2px;
   left: 0%;
   -webkit-transition: width 0.4s;
   transition: width 0.4s;
 }

 

 html::-webkit-scrollbar {
  width: 12px;
  height: 10px !important;
  margin-right: 2px;
  border-radius: 4px;
}

html::-webkit-scrollbar-thumb {
  background: #508DD9;
  border-radius: 2px;
}

html::-webkit-scrollbar-thumb:hover {
  background: #508DD9;
}

html::-webit-scrollbar-track {
  background: rgba(245, 245, 245, 0.88);
  border-radius: 2px;
  -webkit-box-shadow: inset 0px 0px 0px rgba(245, 245, 245, 0.88);
  box-shadow: inset 0px 0px 0px rgba(245, 245, 245, 0.88);
}

.shaker {
  animation: shake 0.5s;
  animation-iteration-count: 2;

}
@keyframes shake {
0% { transform: translate(1px, 1px) rotate(0deg); }
10% { transform: translate(-1px, -2px) rotate(-1deg); }
20% { transform: translate(-3px, 0px) rotate(1deg); }
30% { transform: translate(3px, 2px) rotate(0deg); }
40% { transform: translate(1px, -1px) rotate(1deg); }
50% { transform: translate(-1px, 2px) rotate(-1deg); }
60% { transform: translate(-3px, 1px) rotate(0deg); }
70% { transform: translate(3px, 1px) rotate(-1deg); }
80% { transform: translate(-1px, -1px) rotate(1deg); }
90% { transform: translate(1px, 2px) rotate(0deg); }
100% { transform: translate(1px, -2px) rotate(-1deg); }
}